body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#111;
    color:white;
}

header{
    text-align:center;
    padding:60px 20px;
    background:#1f1f1f;
}

h1{
    font-size:3rem;
}

section{
    padding:40px 20px;
    max-width:1000px;
    margin:auto;
}

.video-card{
    display:flex;
    justify-content:center;
}

iframe{
    width:100%;
    max-width:700px;
    border:none;
}

footer{
    text-align:center;
    padding:20px;
    background:#1f1f1f;
}
